.social-fb:hover{
    text-decoration: none;
    color:blue;
    opacity: 0.7;
    

}
.video{
    max-width: 35%;
    max-height: 50%;
   
}


.bg-head{

    background-color: #226f37;

    
}
.nav-link{
    text-decoration: none;
    color: white;
    border-bottom: 1px  solid transparent;

}
.footer-border{
    border-right: 0.1rem dashed #226f37;
}

.nav-link:hover{

    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    transition-duration: 0.5s;
    

}
.logo{
    width:80%;
    


}
.social:hover{
    color:#1a542b;
    text-decoration: none;
    transition: 0.3s;
    
}

.social{
    text-decoration: none;
    color:white;
   


}
